#line1{
    background-color: rgb(248, 252, 255);
}
.demo1{
    color:rgb(39,104,169);
    background-color: rgb(183,214,248);
}
#line18{
    color: rgb(8, 62, 116);
}
.demo2{
    color: rgb(8, 62, 116);
}
.demo3{
    color:rgb(8, 62, 116);
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
}
form{
    display: block;
    margin-top: 0cm;
    unicode-range: isolate;
}
